body
{
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
}
a
{
    color: white;
    text-decoration: none;
}
p
{
    text-align: center;
    font-family: "Courier New", monospace;
    font-style: bold;
    font-size: 35px;
}
